<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>WCC Portal</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<style>
.core {
  background-color: #880808;
  color: white;
  padding: 10px;
}
.core_light {
  background-color: white;
  color: black;
  padding: 10px;
}
</style>
<body style="background-color:black;">
<Br/><Br/><Br/><Br/>
<div class="container-fluid text-center">
  <div><h2 class="core">Sub Event Details</h2></div>
  <br/>
  <br/>
  <div class="m-2" >
    <a class="h3 mr-2" th:href="@{/index}">Home</a>
    <a class="h3 mr-2"> | </a>
    <a class="h3 mr-2" th:href="@{/events}">Back</a>
  </div>
  <br/>
  <br/>
  <div th:if="${message}" class="alert alert-success text-center">
    [[${message}]]
  </div>
  <div th:if="${errorMessage}" class="alert alert-danger text-center">
    [[${errorMessage}]]
  </div>

  <div>
    <table class="table table-bordered table-hover core_light">
      <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Type</th>
        <th>Status</th>
        <th>Amount</th>
        <th>Submitted Date</th>
        <th>Last Updated Date</th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="subEvent : ${subEvent}">
        <tr>
          <td>[[${subEvent.id}]]</td>
          <td>[[${subEvent.description}]]</td>
          <td>[[${subEvent.type}]]</td>
          <td>[[${subEvent.status}]]</td>
          <td>[[${subEvent.amount}]]</td>
          <td>[[${#calendars.format(subEvent.submittedDate,'dd MMMM yyyy')}]]</td>
          <td>[[${#calendars.format(subEvent.updatedDate,'dd MMMM yyyy')}]]</td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </div>

  <br/><br/>
  <div class="text-center"><h6 class="core">Associated Event</h6></div>
  <br/><br/>

  <div>
    <table class="table table-bordered table-hover core_light">
      <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Type</th>
        <th>Status</th>
        <th>Event Date</th>
        <th>Submitted Date</th>
        <th>Last Updated Date</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="event : ${event}">
        <tr>
          <td>[[${event.id}]]</td>
          <td>[[${event.description}]]</td>
          <td>[[${event.type}]]</td>
          <td>[[${event.status}]]</td>
          <td>[[${#calendars.format(event.eventDate,'dd MMMM yyyy')}]]</td>
          <td>[[${#calendars.format(event.submittedDate,'dd MMMM yyyy')}]]</td>
          <td>[[${#calendars.format(event.updatedDate,'dd MMMM yyyy')}]]</td>
          <td>
            <a class="h4 mr-2" th:href="@{/events/details/{id}(id=${event.id})}">Details</a>
            <a th:if="${event.status.name() == 'IN_PROGRESS'}" class="h4 mr-2"> | </a>
            <a th:if="${event.status.name() == 'IN_PROGRESS'}" class="h4 mr-2" th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a>
          </td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </div>

  <br/><br/>
  <div class="text-center"><h6 class="core">Associated Transaction</h6></div>
  <br/><br/>

  <div>
    <table class="table table-bordered table-hover core_light">
      <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Source</th>
        <th>Status</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Txn Date</th>
        <th>Submitted Date</th>
        <th>Updated Date</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="txn : ${transactions}">
        <tr>
          <td>[[${txn.id}]]</td>
          <td>[[${txn.type}]]</td>
          <td>[[${txn.source}]]</td>
          <td>[[${txn.status}]]</td>
          <td>[[${txn.description}]]</td>
          <td>[[${txn.amount}]]</td>
          <td>[[${#calendars.format(txn.txnDate,'dd MMMM yyyy')}]]</td>
          <td>[[${#calendars.format(txn.submittedDate,'dd MMMM yyyy')}]]</td>
          <td>[[${#calendars.format(txn.updatedDate,'dd MMMM yyyy')}]]</td>
          <td>
            <a class="h4 mr-2" th:href="@{/txns/details/{id}(id=${txn.id})}">Details</a>
            <a th:if="${txn.status.name() == 'PENDING'}" class="h4 mr-2"> | </a>
            <a th:if="${txn.status.name() == 'PENDING'}" class="h4 mr-2" th:href="@{/txns/edit/{id}(id=${txn.id})}">Edit</a>
            <a th:if="${txn.status.name() == 'PENDING'}" class="h4 mr-2"> | </a>
            <a th:if="${txn.status.name() == 'PENDING'}" class="h4 mr-2" th:href="@{/txns/acknowledge/{id}(id=${txn.id})}">Acknowledge</a>
            <a th:if="${txn.status.name() == 'PENDING'}" class="h4 mr-2"> | </a>
            <a th:if="${txn.status.name() == 'PENDING'}" class="h4 mr-2" th:href="@{/txns/cancel/{id}(id=${txn.id})}">Cancel</a>
            <a th:if="${txn.status.name() == 'ACKNOWLEDGED'}" class="h4 mr-2"> | </a>
            <a th:if="${txn.status.name() == 'ACKNOWLEDGED'}" class="h4 mr-2" th:href="@{/txns/settle/{id}(id=${txn.id})}">Settle</a>
            <a th:if="${txn.status.name() == 'ACKNOWLEDGED'}" class="h4 mr-2"> | </a>
            <a th:if="${txn.status.name() == 'ACKNOWLEDGED'}" class="h4 mr-2" th:href="@{/txns/cancel/{id}(id=${txn.id})}">Cancel</a>
          </td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </div>

</div>
</body>
</html>